<div  class="add-article-page animated fadeIn">
	<div @if="loading" class="loading">
		Carregando artigo...
	</div>
	<h2 @if="!loading && !editing" class="mb-7">Novo artigo</h2>
	
	<section @if="!loading" class="article-editor">
		<div @if="editor != null" class="editor-header">
			<ul>
				<li @for="var item of editorMenu">
					<button @if="item.type !== 'divider'"
						class="menu-item"
						[class]="{ 'is-active': item.isActive && item.isActive() }"
						(click)="item.action && item.action()"
						title="{{item.title}}"
					>
						<i class="material-icons">{{item.icon}}</i> 
					</button>
					<div @if="item.type === 'divider'" class="divider"></div>
				</li>
			</ul>
		</div>
		<div id="editor"></div>
	</section>
	
	<div @if="!loading" class="text-right">
		<button class="btn primary-out" (click)="cancel()">
			Cancelar
		</button>
		<button class="btn primary m-l-1" (click)="save()">
			Salvar
		</button>
	</div>
</div>