:root {
	--primaryColor: #{$primaryColor};
	--secondaryColor: #{$secondaryColor};
	--tertiaryColor: #{$tertiaryColor};
	--backgroundColor: #{$backgroundColor};
	--titleColor: #{$titleColor};
	--textColor: #{$textColor};
	--linkColor: #{$linkColor};

	// LANGUAGES
	--tsColor: #{$tsColor};
	--jsColor: #{$jsColor};
	--dartColor: #{$dartColor};
	--swiftColor: #{$swiftColor};
	--phpColor: #{$phpColor};
	--csharpColor: #{$csharpColor};

}

@media (prefers-color-scheme: dark) {
	:root:not([data-theme="light"]) {
		--primaryColor: #{$darkPrimaryColor};
		--secondaryColor: #{$darkSecondaryColor};
		--tertiaryColor: #{$darkTertiaryColor};
		--backgroundColor: #{$darkBackgroundColor};
		--titleColor: #{$darkTitleColor};
		--textColor: #{$darkTextColor};
		--linkColor: #{$darkLinkColor};
	}
}